#ROM_TABLE {
  min-height: 270px !important;
}

:vars {
  --table-color-odd: #343a40;
  --table-color-even: rgba(255,255,255,.05);
}

.odd {
  background: var(--table-color-odd) !important;
}

.even {
  background: var(--table-color-even !important;
}

.ui-widget-content {
  background: #FFFFFF00;
}

span.slick-column-name {
  font-weight: bold !important;
}
